.toolbar-button
{
    -fx-padding: 10px;
    -fx-pref-width: 40px;
    -fx-pref-height: 12px;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-border-color: black;
    -fx-cursor: hand;
}
.toolbar-button:hover
{
    -fx-border-color: blue;
}
.toolbar-button:focused
{
    -fx-border-color: orange;
}
#toolbar
{
    -fx-background-color: white;
}
#territorium_neu
{
    -fx-background-image: url("new.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#territorium_open
{
    -fx-background-image: url("open.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#territorium_save
{
    -fx-background-image: url("save.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#waschbaer_turn
{
    -fx-background-image: url("turn.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#placeFood
{
    -fx-background-image: url("food.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#placeFood
{
    -fx-background-image: url("food.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#placeBarrier
{
    -fx-background-image: url("house.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#placeAnimal
{
    -fx-background-image: url("animal.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#clearKachel
{
    -fx-background-image: url("clear.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#play
{
    -fx-background-image: url("play.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#pause
{
    -fx-background-image: url("pause.jpg");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#stopp
{
    -fx-background-image: url("stopp.png");
    -fx-font-size: 0;
    -fx-background-position: 0px 0px;
    -fx-background-size: 60%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}